/* table {
    background-color: aqua;
    }
    
    body{
        background-color: beige;
    }
    h1{
        color: blue;
    }
    a{
        color: blueviolet;
    }
    li{
        color: aqua;
    } */